<h3 class="page-title">
  Bem vindo ao Restaurante Prato Vazio!
</h3>
<div class="portlet light">
  <div class="portlet-body">
    <div class="row">
      <div class="col-md-12">
        <p>
			Aqui você encontra os melhores serviços e comida virtuais do mercado!
		</p>
		<p>
			Se você é um de nossos funcionários felizes, comece a usar agora nosso sistema! Para isso basta efetuar login clicando no botão superior direito da sua tela.
		</p>
		<p>
			Tenha um ótimo trabalho!
		</p>
      </div>
    </div>
  </div>
</div>
