<div class="portlet light">
	<div class="portlet-title">
		<div class="caption font-blue-sunglo">
			<span class="caption-subject bold uppercase">Registrar compra de itens</span>
		</div>
	</div>

	<%= render 'form' %>

	<%= button_to 'Voltar', item_index_path, :class => "btn btn-default", :method => :get  %><br>
</div>
