<p id="notice"><%= notice %></p>

<h1>Listing Fornecedors</h1>

<%= render partial: 'table', locals: {fornecedors: @fornecedors } %>

<br>

<%= link_to new_fornecedor_path, class: "btn green" do %>
<i class="fa fa-plus-circle"></i>
New Fornecedor
<% end %>
