<h1>Novo Produto</h1>

<%= render 'form' %>
<%= render 'componentes_form' %>

<div class="actions">
    <a class="btn btn-default" data-toggle="modal" href= <%=produtos_path%>>
        Voltar
    </a>
</div>