<div class="portlet-title">
    <div class="caption">
        <i class=" font-green-sharp"></i>
        <span class="caption-subject font-green-sharp bold uppercase"><h3>Novo Produto</h3></span>
    </div>
</div>

<%= render 'form' %>

<div class="actions">
  <a class="btn btn-default" data-toggle="modal" href= <%=produto_index_path%> >
        Voltar
    </a>
</div>
