/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 div.main_content {
   margin-left:  12%;
   margin-right: 12%;
 }

 header {
   align-content: center;
   text-align: center;
   background-color: #FFFFFF;
   padding: 10px 10px 10px 10px;
 }

 nav {
   text-align: center;
   background-color: #EEEEEE;
   padding: 10px 10px 10px 10px;
 }

 aside {
   background-color: #DDDDDD;
   padding: 10px 0px 10px 0px;
   width: 27%;
   float: left;
 }

 section {
   background-color: #CCCCCC;
   padding: 10px 0px 10px 10px;
   float: right;
   width: 70%;
 }

 footer {
   background-color: #BBBBBB;
   padding: 10px 10px 10px 10px;
   clear: both;
   text-align: center;
 }

 /*Menu horizontal*/

 ul.menu {
   list-style-type: none;
 }

 li.menu_item {
   display: inline;
   padding: 10px;
 }

 ul.menu li.menu_item a {
   text-decoration: none;
   padding: 8px 8px 8px 8px;
  }

  ul.menu li.menu_item a:hover {
    color: red;
    background-color: #AAAAAA;
   }

 /*Menu vertical*/

 ul.side_menu {
   list-style-type: none;
 }

 li.side_menu_item {
     padding: 0px 10px 0px 0px;
 }

 ul.side_menu li.side_menu_item a {
   text-decoration: none;
   display: block;
   width: 95px;
   padding: 8px 0px 8px 0px;
  }

  ul.side_menu li.side_menu_item a:hover {
    color: red;
    background-color: #999999;
   }

.logo-default{
    margin: 1px 0px!important;
    height: 63px;
}
.page-logo{
    padding: 2px 2px 2px 2px!important;
}
.menu-toggler.sidebar-toggler{
    margin: 23px 10px 0 0!important;
}
.page-sidebar-closed .menu-toggler.sidebar-toggler{
    margin: 23px 15px!important;
}

.login-logo{
    margin-top:10px !important;
}
.login-content{
    margin-top:200px!important;
}
