<p id="notice"><%= notice %></p>

<h1>Listing Funcionarios</h1>

<%= render partial: 'table', locals: {funcionarios: @funcionarios } %>

<br>

<%= link_to  new_funcionario_path, class: "btn green" do %>
<i class="fa fa-plus-circle"></i>
New Funcionario
<% end %>
